body{
    background-color: #212121;
    font-family: 'Courier New', Courier, monospace;
    color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 30px;
}

.button_start {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #212121;
    --button_outline_color: #e8e8e8;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin-bottom: 18px;
    cursor: pointer;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.button_start:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.button_start:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}