{% extends "index.html" %}

{% block title %}AUTOMATIZACIÓN{% endblock %}

{% block body %}

<h1>ACTIVIDADES AUTOMATIZADAS</h1>

    <a href="{{ url_for('asistente_elicitacion') }}">
        <button>
            <span class="button_top"> Asistente de elicitación
            </span>
        </button>
    </a>

    <a href="{{ url_for('asistente_requerimientos') }}">
        <button>
            <span class="button_top"> Asistente de requerimientos </span>
        </button>
    </a>

    <a href="{{ url_for('analisis_escenarios') }}">
        <button>
            <span class="button_top"> Análisis de escenarios </span>
        </button>
    </a>

{% endblock %}